.fp_image_container {
  background: url(../../images/wallpaper.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.forgotpass_container {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  outline: 2px solid #cecece;
  height: fit-content;
  min-height: 35vh;
  width: fit-content;
  min-width: 30vw;
}
.forgot {
  text-align: center;
  margin-top: 10px;
}
.input_container {
  margin: 20px auto;
  position: relative;
  height: 100%;
  width: 100%;
}
#username {
  padding: 15px 2%;
  font-size: 16px;
  text-decoration: none;
  border-radius: 6px;
  margin: 0 auto;
}
#username-help {
  font-size: 12px;
}
.block {
  font-size: 0.8rem;
}
.username_button {
  outline: 2px solid #cecece; 
}
.security_container {
  margin: 20px auto;
}
.resetpass_container {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  outline: 2px solid #cecece;
  height: fit-content;
  min-height: 35vh;
  width: fit-content;
  min-width: 30vw;
}
.resetpass {
  text-align: center;
  margin-top: 10px;
}
.security_question {
  margin-bottom: 3px;
}
.f_password {
  align-items: center;
  width: fit-content;
  margin: 5px 0px;
}
