.parallax_container {
    height: 60vh;
}
.person_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.about_us_bio {
    text-align: center;
    position: relative;
    height: 48vh;
    flex: 0.6;
    margin: 1vh 1vw;
    overflow: hidden;
}
.about_us_img {
    position: relative;
    height: 48vh;
    flex: 0.4;
    margin: 2vh 1vw;
    overflow: hidden;
    border-radius: 8px;
}
.megha_pic {
    height: 100%;
    width: auto;
    border-radius: 8px;
}
.danice_pic {
    height: 100%;
    width: auto;
    border-radius: 8px;
}
.tyler_pic {
    height: 100%;
    width: auto;
    border-radius: 8px;
}
.nate_pic {
    height: 100%;
    width: auto;
    border-radius: 8px;
}
.otto_pic {
    height: 100%;
    width: auto;
    border-radius: 8px;
}
.flex_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title_container {
    height: 100%;
}
.page_title {
    font-size: 100px;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-shadow: -2px 2px 3px #000000
}
.person_name {
    align-items: right;
}