.header_cont{
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    z-index: -1;
}
.menu_cont {
    display: inline-flex;
    justify-content: space-evenly;
    width: 40%;
    font-family: Source Code Pro;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    height: 2em;
    align-items: inherit;
}
